body {
    color: rgb(69, 56, 56);
    margin: 0;
    font-size: 2rem;
}

nav ul {
    background-color: rgb(225, 205, 100);
    padding: 1rem;
    margin: 0;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(77, 52, 52);
    padding: 0.5rem;
    display: block;
    text-align: center;
  }

  nav a:hover,
   nav a:focus {
  color: white;
  background-color: black;
  text-decoration: underline;
}

main {
    padding-top: 4rem;
  }